<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="DetalleTarifarioSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/DetalleTarifario.png" />
                        </md-card-avatar>
                        <md-card-header-text>
                           
                            <span class="md-headline">DetalleTarifario</span>
                            <span class="md-subhead">Trabajar con DetalleTarifarios</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Detalle</label>
                                <input name="detalle" ng-model="detalleTarifario.detalle" required>
                                <div ng-messages="dForm.detalle.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                                                      
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Tarifario</label>
                                 <md-autocomplete
                                      md-search-text="q"
                                      md-item-text = "item.nombre_tarifario"
                                      md-selected-item-change="selectTarifario(item)"
                                      md-items="item in buscarTarifario(q)"
                                      md-min-length="1"
                                      placeholder="Busque una tarifario">
                                    <md-item-template>
                                      <span md-highlight-text="q" md-highlight-flags="^i">{{item.nombre_tarifario}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                      No states matching "{{q}}" were found.
                                    </md-not-found>
                                  </md-autocomplete>
                            </md-input-container>

                            
                            
                        </div>
                        
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancel</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="detalleTarifario.id == null">Create</span>
                            <span ng-show="detalleTarifario.id">Update</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
