<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="AlquilerSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/Alquiler.jpg" />
                        </md-card-avatar>
                        <md-card-header-text>
                           
                            <span class="md-headline">Usuario</span>
                            <span class="md-subhead">Trabajar con Usuarios</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Detalle</label>
                                <input name="detalle" ng-model="alquiler.detalle" required>
                                <div ng-messages="dForm.detalle.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Detalle Tiempo Alquiler</label>
                                <md-select ng-model="alquiler.detalleTiempoAlquiler" required>
                                    <md-option ng-repeat="c in detalleTiempoAlquileres" ng-value="c.id">{{c.detalle}}</md-option>
                                </md-select>
                            </md-input-container>
                            
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Detalle Tarifario</label>
                                <md-select ng-model="alquiler.detalleTarifario">
                                    <md-option ng-repeat="a in detalleTarifarios" ng-value="a.id">{{a.t_nombre_tarifario}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Ruta</label>
                                <md-select ng-model="alquiler.ruta">
                                    <md-option ng-repeat="d in rutas" ng-value="d.id">{{d.detalle}}</md-option>
                                </md-select>
                            </md-input-container>
                            
                            
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Cliente</label>
                                 <md-autocomplete
                                      md-search-text="q"
                                      md-item-text = "item.descripcion"
                                      md-selected-item-change="selectCliente(item)"
                                      md-items="item in buscarCliente(q)"
                                      md-min-length="1"
                                      placeholder="Busque una cliente">
                                    <md-item-template>
                                      <span md-highlight-text="q" md-highlight-flags="^i">{{item.descripcion}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                      No states matching "{{q}}" were found.
                                    </md-not-found>
                                  </md-autocomplete>
                            </md-input-container>

                            
                                                       
                            
                            
                        </div>
                        
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancel</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="alquiler.id == null">Create</span>
                            <span ng-show="alquiler.id">Update</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
